<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Boxes</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-app="angularBoxes" ng-controller="angularBoxesCtrl as vm">
  <div class="boxHolder">
    <box color="green" addColor="vm.addColor(color)"></box>
    <box color="blue" addColor="vm.addColor(color)"></box>
    <box color="red" addColor="vm.addColor(color)"></box>
    <box color="yellow" addColor="vm.addColor(color)"></box>
  </div>
  <div class="buttonHolder">
    <button ng-click="vm.undo()" class="undoButton">Undo</button>
    <button ng-click="vm.redo()" class="redoButton">Redo</button>
  </div>
  <div class="mainBox" ng-class="vm.mainBoxColor"></div>

  <!-- scripts -->
<script src="bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/directives/boxDirective.js"></script>

</body>
</html>
